
$color-bg             : #f4f9f9;
$color-light-neutral  : #e0e0e0;
$color-default        : #e0e1e2;
$color-primary        : #3b5998;
$color-info           : #2185d0;
$color-success        : #21ba45;
$color-warning        : #fbbd08;
$color-danger         : #db2828;
$color-font           : rgba(black, 0.6);
$color-font-active    : rgba(black, 0.9);
